// Configure SPI2 on Arduino header of dev kit
&pinctrl {

	spi2_default: spi2_default {
		group1 {
            psels = <NRF_PSEL(SPIS_SCK, 0, 16)>,					 
                    <NRF_PSEL(SPIS_MOSI, 0, 17)>,
                    <NRF_PSEL(SPIS_MISO, 0, 18)>,
                    <NRF_PSEL(SPIS_CSN, 0, 19)>;
		};
	};

	spi2_sleep: spi2_sleep {
		group1 {
            psels = <NRF_PSEL(SPIS_SCK, 0, 16)>,					 
                    <NRF_PSEL(SPIS_MOSI, 0, 17)>,
                    <NRF_PSEL(SPIS_MISO, 0, 18)>,
                    <NRF_PSEL(SPIS_CSN, 0, 19)>;
			low-power-enable;
		};
	};
};


spi_test: &spi2 {
	compatible = "nordic,nrf-spis";
	status = "okay";
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";
	def-char = <0xFF>;
};